<h1 class="text-xl font-semibold mb-6">Sign up</h1>

<%= form_with(url: sign_up_path) do |form| %>
  <% if @user.errors.any? %>
    <div class="text-red-600 dark:text-red-400 mb-4">
      <strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>
      <ul class="mt-2 pl-6 list-disc">
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= render Components::Label.new(for_input: "user_email", required: true) do %>
      Email
    <% end %>
    <%= render Components::Input.new(
      type: :email, 
      name: "user[email]", 
      id: "user_email",
      value: @user.email, 
      required: true, 
      autofocus: true, 
      autocomplete: "email"
    ) %>
  </div>

  <div class="mb-4">
    <%= render Components::Label.new(for_input: "user_password", required: true) do %>
      Password
    <% end %>
    <%= render Components::Input.new(
      type: :password, 
      name: "user[password]", 
      id: "user_password",
      required: true, 
      autocomplete: "new-password"
    ) %>
    <div class="text-sm text-muted mt-1">12 characters minimum.</div>
  </div>

  <div class="mb-4">
    <%= render Components::Label.new(for_input: "user_password_confirmation", required: true) do %>
      Password confirmation
    <% end %>
    <%= render Components::Input.new(
      type: :password, 
      name: "user[password_confirmation]", 
      id: "user_password_confirmation",
      required: true, 
      autocomplete: "new-password"
    ) %>
  </div>

  <div class="mb-4">
    <%= render Components::Button.new(type: "submit") do %>
      Sign up
    <% end %>
  </div>
<% end %>

<div class="mt-8">
      <%= link_to "Already have an account? Sign in", sign_in_path, class: "btn-link" %>
</div>
